@use '../size/size.scss' as size;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$regular: 400;
$medium: 500;
$black: 900;


body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: $black;
}


/*
  - following specific font sizes are per design spec 
  - 1rem = 16px 
  - default font size is for mobile screens
*/

@mixin text-preset-1($screen-type: mobile) {
  font-size: size.pixelToRem(40);
  font-weight: 900;

  @if $screen-type == tablet {
    font-size: size.pixelToRem(48);
  }

  @if $screen-type == desktop {
    font-size: size.pixelToRem(64);
  }

  line-height: 1.1;
}

@mixin text-preset-2($screen-type: mobile) {
  font-size: size.pixelToRem(32);

  @if $screen-type == tablet {
    font-size: size.pixelToRem(36);
  }

  @if $screen-type == desktop {
    font-size: size.pixelToRem(40);
  }

  line-height: 1.1;
}

@mixin text-preset-3($screen-type: mobile) {
  font-size: size.pixelToRem(12);

  @if $screen-type == tablet {
    font-size: size.pixelToRem(14);
  }

  @if $screen-type == desktop {
    font-size: size.pixelToRem(16);
  }
  line-height: 1.1;

}
  
@mixin text-preset-4() {
  font-size: size.pixelToRem(18); // 18px
  font-weight: $medium;
  line-height: 1.5; 

}

@mixin text-preset-5() {
  font-size: size.pixelToRem(16); // 16px
  line-height: 1.5;

}