@use './reset/reset' as *;
@use './color/color' as color;
@use './responsive/responsive' as adjust;
@use './size/size' as size;
@use './typography/typography' as type;

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  @include type.text-preset-1;
}

h2 {
  @include type.text-preset-5;
}

p {
  @include type.text-preset-4;
}

.call-to-action {
  &__download {
    @include color.action-button(color.$cyan-600, color.$cyan-300);
  }

  &__info {
    @include color.action-button(color.$purple-600);
  }
}

.modern-use {
  &__tag {
    @include type.text-preset-5;
  }
}

.experience {
  &__download {
    @include color.action-button(color.$purple-600, color.$purple-300);
  }
  
}